<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="service">
            <h2><span jhiTranslate="chironServerApp.service.detail.title">Service</span> {{service.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="chironServerApp.service.code">Code</span></dt>
                <dd>
                    <span>{{service.code}}</span>
                </dd>
                <dt><span jhiTranslate="chironServerApp.service.name">Name</span></dt>
                <dd>
                    <span>{{service.name}}</span>
                </dd>
                <dt><span jhiTranslate="chironServerApp.service.price">Price</span></dt>
                <dd>
                    <span>{{service.price}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service', service.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
